body {
    background-color: rgb(245, 245, 245);
    margin : 80px 200px auto 200px;
};

.Container {   
    max-width : 1200px;
}
.nav-container {
    margin : auto;
}
a{
    text-decoration: None;
}
.nav-container svg{
    color : '#ffffff'
}